#container{
text-align: center;
font-family: sans-serif;
font-weight: bold;
color:red ;
}
#input{
    text-align: center;
    max-width: 150px;
}
button{
    background-color: hsl(240, 78%, 52%);
    color:aliceblue;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    padding:5px 5px;
    cursor: pointer;
}
button:hover{
    background-color:aliceblue;
    color: hsl(240, 78%, 52%);
}
button:active{
    background-color: hsl(240, 78%, 52%);
    color:aliceblue;
}
#dice-result{
    font-weight: bold;
    text-align: center;
}
#dice-image{
    text-align:center;
}