*{
    box-sizing: border-box;
}
body{
    border: none;
    font-family: sans-serif;
    background-color: rgb(47, 43, 43);
    display: flex;
    flex-wrap: wrap;
}
.add{
    background-color: rgb(173, 173, 69);
    border: none;
    color:rgb(47, 43, 43);
    cursor: pointer;
    position:fixed;
    top:1rem;
    right:0.5rem;

}
.notes{
    background-color: rgb(173, 173, 69);
    height: 300px;
    width: 300px;
    margin:2px;
    margin-top: 3rem;
    margin-right: 1rem;
}
.notes .tools{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(225, 225, 53);
    border: no;

}
.notes .tools button{

    cursor: pointer;
    background-color: transparent;
    border: none;
}
.notes .main{
    
    background-color: white;
    overflow: hidden;
    width:100%;
    height: 100%;
    border: none;
    margin: 0;
}
.notes textarea{
    margin: 0;
    outline: none;
    width:100%;
    height: 100%;
    border: none;
}
.notes .hidden{
    display: none;
}



